.App {
  text-align: center;
  min-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#App_row{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vh;
}

#video_player{
  margin: 2vh 0 0vh 0;
  height: 12em;
}

#button_row{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh 0vh 5vh 0vh;
}

#mint_button{
  width: 12em;
  border-radius: 0 !important;
}

#connect_button{
  background-color: black !important;
  width: 12em;
  border: 2px solid #FFFFFF !important;
  /* border-color: white !important; */
  border-radius: 0 !important;
}

#wl_badge{
  width: 16em !important;
  border-radius: 0 !important;
}

#claim_badge{
  width: 16em !important;
  border-radius: 0 !important;
}

#connexion_status{
  margin-top: 5vh;
  border-radius: 0 !important;
}

#web3_alert{
  border-radius: 0 !important;
  width: 12em;
  color: white;
  background-color: black !important;
  border: 2px solid #FFFFFF !important;
}

#connexion_info{
  color: rgb(71, 71, 71);
  font-size: 0.7em;
}

@media screen and (max-width: 650px) {
  #mint_button{
    /* width: 8em; */
  }

} 